<div class="row" *ngIf="heroes.length == 0">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            <strong>No se encontró ningun resultado </strong>
        </div>
    </div>
</div>

<div class="card-columns">
    <app-hereo-targeta [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-hereo-targeta>
    <!-- <div class="card" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <a class="btn btn-block btn-primary" [routerLink]="['/heroe', i]" role="button">Más Información...</a>
        </div>
    </div> -->
</div>